# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
tic-tac-toe

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Log files
*.log

# Temp directory
tmp

# Database 
*.db

# App example env
*.env

# Firebase service account key
serviceAccountKey.json

# Dependency directories (remove the comment below to include it)
# vendor/